.starterCarousel {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.starters {
display: flex;  
margin-bottom:   -40px;
}

.button{
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgb(92, 87, 87);
  border-radius: 50%;
  width: 25px;
  height: 25px;

}

.button-container{
  display: flex;
  justify-content: center;
}

.starterCarousel .starter {
  overflow: hidden;
  transition: all 300ms ease-in-out;
  opacity: 0.5;

}

.starter img{
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.starter.active {
  opacity: 1;
}

.starter.prev {
  opacity: 0.5;
}

.starter.next {
  opacity: 0.5;
}

.phrase{
  padding-bottom: 40px;
}

/* 
second part 
is for 
Trainer Carousel
*/

.trainerCarousel {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.trainers {
display: flex; 
justify-content: space-around;
}

.trainerCarousel .trainer {
  overflow: hidden;
  transition: all 300ms ease-in-out;
  opacity: 0.5;

}

.trainer img{
  object-fit: cover;
  width: 200px;
  height: 100%;
}

.trainer.active {
  opacity: 1;
}

.trainer.prev {
  opacity: 0.5;
}

.trainer.next {
  opacity: 0.5;
}
